* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  width: 96%;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.header {
  display: flex;
  width: 100%;
  height: 10em;
  background-color: lightblue;
  border: 1px solid lightblue;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}

.header figure {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.header img {
  border-radius: 33%;
}

.header img:hover {
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}

.header nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
}

.header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  list-style: none;
  margin-left: 1em;
}

.header li {
  display: flex;
  flex-direction: row;
  margin-right: 2em;
}

.header a {
  text-decoration: none;
  color: white;
}

.header a:hover {
  color: white;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  font-size: 20px;
}

.article {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.one {
  width: 100%;
  height: 10em;
  padding: 3% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(66,56,34,0.66);
  background-image: url(images/homepage-hero.jpg);
  background-position: center;
  color: white;
  font-size: 43px;
  border-left: 1px solid lightblue;
  border-right: 1px solid lightblue;
}

.one h1 {
  font-size: 50px;
  text-shadow: lightblue 3px 5px 2px;
}

.two {
  width: 100%;
  height: 20em;
  padding: 3% 40% 3% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  background-image: url(images/mission-bkgd.jpg);
  background-position: right;
  border-left: 1px solid lightblue;
  border-right: 1px solid lightblue;
}

.two h2 {
  color: lightblue;
}

.two a {
  text-decoration: none;
  border: 1px solid lightblue;
  color: lightblue;
  font-size: 25px;
}

.two a:hover {
  font-size: 30px;
  background-color: lightblue;
  color: white;
}

.three {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  color: white;
  border-left: 1px solid lightblue;
  border-right: 1px solid lightblue;
}

.three a {
  color: white;
  text-decoration: none;
}

.tono {
  border: 1px solid lightblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 75%;
  height: 25em;
  background-image: url(images/tono-exterior.jpg);
  background-position: center;
  margin-top: 3%;
}

.safer {
  border: 1px solid lightblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 75%;
  height: 25em;
  background-image: url(images/safer-product.jpg);
  background-position: center;
  margin-top: 2%;
}

.novara {
  border: 1px solid lightblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 75%;
  height: 25em;
  background-image: url(images/novara-assessing-patient.jpg);
  background-position: center;
  margin-top: 2%;
}

.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid lightblue;
  border-radius: 40%;
  letter-spacing: 1.3px;
  margin-top: 3%;
  margin-bottom: 4%;
  padding: 0.5% 3%;
}

.work a {
  color: lightblue;
  text-decoration: none;
  text-transform: uppercase;
}

.work a:hover {
  color: white;
}

.work:hover {
  background-color: lightblue;
}

.four {
  width: 100%;
  padding: 5% 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  border-left: 1px solid lightblue;
  border-right: 1px solid lightblue;
}

.four q {
  color: white;
}

.four p {
  color: white;
  font-style: bold;
}

.five {
  width: 100%;
  height: 16em;
  display: flex;
  flex-direction: column;
  background-color: white;
  background-image: url(images/mission-bkgd.jpg);
  background-position: right;
  justify-content: center;
  align-items: center;
  padding: 5% 30% 5% 10%;
  border-left: 1px solid lightblue;
  border-right: 1px solid lightblue;
}

.five a {
  text-decoration: none;
  color: lightblue;
  font-size: 25px;
}

.five a:hover {
  font-size: 30px;
  background-color: lightblue;
  color: white;
}

.five h2 {
  color: lightblue;
}

.footer {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  background-color: lightblue;
  align-items: center;
  justify-content: center;
  border: 1px solid lightblue;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.down-figure {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 5%;
}

.down-figure img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 3em;
  width: 3em;
  border-radius: 45%;
}

.down-p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 1;
  height: 50%;
  width: 25%;
  padding-left: 1%;
  padding-right: 1%;
  color: white;
}

.down-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 1;
  height: 50%;
  width: 70%;
}

.down-nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.down-nav img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 2em;
  margin: 0.5em;
}

.down-nav img:hover {
  border: 3px solid white;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.contact-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 40%;
  padding-right: 1em;
  padding-left: 1em;
}

.contact-button a {
  text-decoration: none;
  color: white;
}

.contact-button:hover {
  border: 3px solid white;
}

h1, h2, h3 {
  font-family: serif;
  text-transform: uppercase;
  font-size: 35px;
}

p {
  font-family: sans-serif;
}

a {
  font-family: sans-serif;
}

nav {
  text-transform: uppercase;
}
