* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  width: 96%;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-style: groove;
}

.header {
  display: flex;
  width: 100%;
  height: 10em;
  background-color: #2a2d24;
}

.header figure {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.header nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
}

.header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  list-style: none;
  margin-left: 1em;
}

.header li {
  display: flex;
  flex-direction: row;
  margin-right: 2em;
}

.header a {
  text-decoration: none;
  color: white;
}

.header a:hover {
  color: #c7ad6d;
  border-top: 3px solid red;
}

.article {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.one {
  width: 100%;
  height: 10em;
  padding: 3% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(66,56,34,0.66);
  background-image: url(images/homepage-hero.jpg);
  background-position: center;
  color: white;
  font-size: 43px;
}

.two {
  width: 100%;
  height: 20em;
  padding: 3% 40% 3% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e5e4da;
  background-image: url(images/mission-bkgd.jpg);
  background-position: right;
}

.two a {
  text-decoration: none;
  color: #BBBB06;
  font-size: 25px;
}

.three {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #e2dfd7;
  align-items: center;
  color: white;
}

.three a {
  color: white;
  text-decoration: none;
}

.tono {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 75%;
  height: 25em;
  background-image: url(images/tono-exterior.jpg);
  background-position: center;
  margin-top: 3%;
}

.safer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 75%;
  height: 25em;
  background-image: url(images/safer-product.jpg);
  background-position: center;
  margin-top: 2%;
}

.novara {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 75%;
  height: 25em;
  background-image: url(images/novara-assessing-patient.jpg);
  background-position: center;
  margin-top: 2%;
}

.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #c7ad6d;
  letter-spacing: 1.3px;
  margin-top: 3%;
  margin-bottom: 4%;
  padding: 0.5% 3%;
}

.work a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.work:hover {
  background-color: #c7ad6d;
}

.four {
  width: 100%;
  padding: 5% 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2a2d24;
}

.four q {
  color: white;
}

.four p {
  color: #c7ad6d;
}

.five {
  width: 100%;
  height: 16em;
  display: flex;
  flex-direction: column;
  background-image: url(images/mission-bkgd.jpg);
  background-position: right;
  justify-content: center;
  align-items: center;
  padding: 5% 30% 5% 10%;
}

.five a {
  text-decoration: none;
  color: #BBBB06;
  font-size: 25px;
}

.footer {
  width: 100%;
  height: 120px;;
  display: flex;
  flex-direction: row;
  background-color: #e2dfd7;
  align-items: center;
  justify-content: center;
}

.down-figure {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 5%;
}

.down-figure img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 3em;
  width: 3em;
}

.down-p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 1;
  height: 50%;
  width: 25%;
  padding-left: 1%;
  padding-right: 1%;
}

.down-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 1;
  height: 50%;
  width: 70%;
}

.down-nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.down-nav img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 2em;
  margin: 0.5em;
}

.down-nav img:hover {
  border: 1px solid red;
  border-radius: 100%;
}

.contact-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #c7ad6d;
  padding-right: 1em;
  padding-left: 1em;
}

.contact-button a {
  text-decoration: none;
  color: black;
}

.contact-button:hover {
  background-color: #c7ad6d;
}

h1, h2, h3 {
  font-family: serif;
  text-transform: uppercase;
  font-size: 35px;
}

p {
  font-family: sans-serif;
}

a {
  font-family: sans-serif;
}

nav {
  text-transform: uppercase;
}
